redis:
  image: "redis:{{.Version}}"
  ports:
    - "{{.Port}}:6379"
  networks:
    - frank
  volumes:
    - redis_data:/data
  healthcheck:
    test: ["CMD", "redis-cli", "ping"]
    interval: 1s
    timeout: 3s
    retries: 30
    start_period: 30s
