meilisearch:
  image: "getmeili/meilisearch:{{.Version}}"
  ports:
    - "{{.Port}}:7700"
  networks:
    - frank
  volumes:
    - meilisearch_data:/meili_data
  environment:
    MEILI_NO_ANALYTICS: "true"
  healthcheck:
    test: ["CMD", "wget", "--no-verbose", "--spider", "http://127.0.0.1:7700/health"]
    interval: 1s
    timeout: 3s
    retries: 30
    start_period: 30s
