laravel.test:
  build:
    context: .
    args:
      WWWGROUP: ${GID:-1000}
  ports:
    - "80:80"
    - "443:443"
    - "443:443/udp"
    - "5173:5173"
  networks:
    - frank
  volumes:
    - .:/var/www/html
  environment:
    - APP_ENV=local
    - APP_DEBUG=true
    - SERVER_NAME=:80
    - PSYSH_CONFIG=/var/www/html/.psysh.php
    - PSYSH_HOME=/var/www/html/storage/psysh
    - WWWUSER=${UID:-1000}
  env_file:
    - .env
  working_dir: /var/www/html
  tty: true
  stdin_open: true
