mysql:
  image: "mysql:{{.Version}}"
  environment:
    MYSQL_ROOT_PASSWORD: "${DB_PASSWORD}"
    MYSQL_DATABASE: "${DB_DATABASE}"
    MYSQL_USER: "${DB_USERNAME}"
    MYSQL_PASSWORD: "${DB_PASSWORD}"
    MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
  volumes:
    - mysql_data:/var/lib/mysql
    - .frank/scripts/create-testing-database.sh:/docker-entrypoint-initdb.d/10-create-testing-database.sh
  ports:
    - "{{.Port}}:3306"
  networks:
    - frank
  healthcheck:
    test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-p${DB_PASSWORD}"]
    interval: 1s
    timeout: 3s
    retries: 30
    start_period: 30s
