laravel.test:
  build:
    context: .
    dockerfile: .frank/Dockerfile
    args:
      WWWGROUP: ${GID:-1000}
  ports:
    - "5173:5173"
  networks:
    - frank
  volumes:
    - .:/var/www/html
  environment:
    - APP_ENV=local
    - APP_DEBUG=true
    - PSYSH_CONFIG=/var/www/html/.psysh.php
    - PSYSH_HOME=/var/www/html/storage/psysh
    - WWWUSER=${UID:-1000}
  env_file:
    - .env
  working_dir: /var/www/html
  tty: true
  stdin_open: true

nginx:
  build:
    context: .
    dockerfile: .frank/nginx.Dockerfile
  ports:
{{- if .HTTPS}}
{{- if .CustomPort}}
    - "{{.ServerPort}}:443"
{{- else}}
    - "80:80"
    - "443:443"
{{- end}}
{{- else}}
{{- if .CustomPort}}
    - "{{.ServerPort}}:80"
{{- else}}
    - "80:80"
{{- end}}
{{- end}}
  networks:
    - frank
  volumes:
    - .:/var/www/html
{{- if .HTTPS}}
    - .frank/certs/:/etc/certs/:ro
{{- end}}
  depends_on:
    - laravel.test
