mailpit:
  image: "axllent/mailpit:{{.Version}}"
  ports:
    - "{{.Port}}:1025"
    - "{{.DashboardPort}}:8025"
  networks:
    - frank
  healthcheck:
    test: ["CMD", "wget", "--no-verbose", "--spider", "http://127.0.0.1:8025/api/v1/info"]
    interval: 1s
    timeout: 3s
    retries: 30
    start_period: 30s
